@page "/BookSystem"
@inherits Service.BookSystem

<div class="snip1190">
	<h2>Bo<span>ok</span></h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
	<thead>
		<tr>
			<th><button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="AddClick"><i class="bi bi-plus-square"></i> Create</button></th>
			<th><button type="button" class="btn btn-outline-dark"><i class="bi bi-pencil-square"></i> Edit</button></th>
			<th><button type="button" class="btn btn-outline-danger"><i class="bi bi-x-square"></i> Cancle</button></th>
			<th><button type="button" class="btn btn-outline-info"><i class="bi bi-file-earmark-excel"></i> EXCEL</button></th>
			<th><button type="button" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf" viewBox="0 0 16 16"><path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/><path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/></svg> PDF</button></th>
			<th><button type="button" class="btn btn-outline-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-json" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM4.151 15.29a1.176 1.176 0 0 1-.111-.449h.764a.578.578 0 0 0 .255.384c.07.049.154.087.25.114.095.028.201.041.319.041.164 0 .301-.023.413-.07a.559.559 0 0 0 .255-.193.507.507 0 0 0 .084-.29.387.387 0 0 0-.152-.326c-.101-.08-.256-.144-.463-.193l-.618-.143a1.72 1.72 0 0 1-.539-.214 1.001 1.001 0 0 1-.352-.367 1.068 1.068 0 0 1-.123-.524c0-.244.064-.457.19-.639.128-.181.304-.322.528-.422.225-.1.484-.149.777-.149.304 0 .564.05.779.152.217.102.384.239.5.41.12.17.186.359.2.566h-.75a.56.56 0 0 0-.12-.258.624.624 0 0 0-.246-.181.923.923 0 0 0-.37-.068c-.216 0-.387.05-.512.152a.472.472 0 0 0-.185.384c0 .121.048.22.144.3a.97.97 0 0 0 .404.175l.621.143c.217.05.406.12.566.211a1 1 0 0 1 .375.358c.09.148.135.335.135.56 0 .247-.063.466-.188.656a1.216 1.216 0 0 1-.539.439c-.234.105-.52.158-.858.158-.254 0-.476-.03-.665-.09a1.404 1.404 0 0 1-.478-.252 1.13 1.13 0 0 1-.29-.375Zm-3.104-.033a1.32 1.32 0 0 1-.082-.466h.764a.576.576 0 0 0 .074.27.499.499 0 0 0 .454.246c.19 0 .33-.055.422-.164.091-.11.137-.265.137-.466v-2.745h.791v2.725c0 .44-.119.774-.357 1.005-.237.23-.565.345-.985.345a1.59 1.59 0 0 1-.568-.094 1.145 1.145 0 0 1-.407-.266 1.14 1.14 0 0 1-.243-.39Zm9.091-1.585v.522c0 .256-.039.47-.117.641a.862.862 0 0 1-.322.387.877.877 0 0 1-.47.126.883.883 0 0 1-.47-.126.87.87 0 0 1-.32-.387 1.55 1.55 0 0 1-.117-.641v-.522c0-.258.039-.471.117-.641a.87.87 0 0 1 .32-.387.868.868 0 0 1 .47-.129c.177 0 .333.043.47.129a.862.862 0 0 1 .322.387c.078.17.117.383.117.641Zm.803.519v-.513c0-.377-.069-.701-.205-.973a1.46 1.46 0 0 0-.59-.63c-.253-.146-.559-.22-.916-.22-.356 0-.662.074-.92.22a1.441 1.441 0 0 0-.589.628c-.137.271-.205.596-.205.975v.513c0 .375.068.699.205.973.137.271.333.48.589.626.258.145.564.217.92.217.357 0 .663-.072.917-.217.256-.146.452-.355.589-.626.136-.274.205-.598.205-.973Zm1.29-.935v2.675h-.746v-3.999h.662l1.752 2.66h.032v-2.66h.75v4h-.656l-1.761-2.676h-.032Z"/></svg> JSON</button></th>
			<th></th>
			<th></th>
			<th></th>
			<th colspan="2">
				<div class="d-flex">
					<input class="form-control me-sm-2" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0">Search</button>
				</div>
			</th>
		</tr>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Category Name</th>
			<th>Description</th>
			<th>Is Active</th>
			<th data-type="date" data-format="YYYY-MM-DD">Book Loan Day</th>
			<th data-type="date" data-format="YYYY-MM-DD">Book Return Day</th>
			<th>Student Name</th>
			<th>Photo</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
					@if (books.Count() == 0)
					{
				<Loading />
					}
					else
					{
						@foreach (var obj in books)
						{
						<tr>
							<td>@obj.ID</td>
							<td>@obj.Name</td>
							<td>@obj.CategoryName</td>
							<td>@obj.Description</td>
							<td>@obj.IsActive</td>
							<td>@obj.BookLoanDay</td>
							<td>@obj.BookReturnDay</td>
							<td>@obj.StudentName</td>
							<td>@obj.Photo</td>
							<td>
								<button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="(() => EditClick(obj))">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
									</svg>
								</button>
								<button type="button" class="btn btn-light mr-1" @onclick="(() => DeleteClick(obj.ID))">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
										  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
										</svg>
								</button>
							</td>
						</tr>
						}
					}
	</tbody>
</table>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">@bk.Title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				 <div class="d-flex flex-row bd-highlight mb-3">
					<div class="p-2 w-50 bd-highlight">
						<div class="input-group mb-3">
							<span class="input-group-text">Name</span>
							<input type="text" class="form-control" @bind="bk.Name" />
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Category Name</span>
							<select>
								@foreach(var obj in libraries)
								{
									<option>@obj.CategoryName</option>
								}
							</select>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Description</span>
							<input type="text" class="form-control" @bind="bk.Description" />
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Is Active</span>
							<input type="text" class="form-control" @bind="bk.IsActive" />
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Book Loan Day</span>
							<input type="date" class="form-control" @bind="bk.BookLoanDay" />
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Book Return Day</span>
							<input type="date" class="form-control" @bind="bk.BookReturnDay" />
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Student Name</span>
							<select>
								@foreach(var obj in students)
								{
									<option>@obj.FirstName</option>
								}
							</select>
						</div>
					</div>
					<div class="p-2 w-50 bd-highlight">
						<img width="250" height="250" src="@bk.Path/@bk.Photo" />
						<BlazorInputFile.InputFile class="m-2" OnChange="UploadFile" />
					</div>
				</div>

				@if (bk.Title == "Add New Book")
				{
							<button type="button" class="btn btn-primary" @onclick="CreateClick">
								Create
							</button>
				}
				else
				{
							<button type="button" class="btn btn-primary" @onclick="UpdateClick">
								Update
							</button>
				}
			</div>
		</div>
	</div>
</div>
